.Trekking{
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}