.Info{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 70%;

    & h2{
        font-size: 65px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;     
    }

    & p{
        display: flex;
        justify-content: center;   
    }
}

