@import '../../../Containers/Header/Header.module.scss';

$topOt: calc($HeaderHeigth + 20px);
.Modal{
    position: absolute;
    top: 130px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    z-index: 100;
    background-color: white;
    border: none;
    border-radius: 5px;    
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(88, 88, 88, 0.486);
  }

  .positioning{
      color: black;
      width: 10px;
      height: 10px;
  }