.Photo{
    width: 30%;
    max-width: 30%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    flex-shrink: 1;
    flex-grow: 1;
    // margin: 15px;
}