@import '../Header/Header.module.scss';
@import '../Footer/Footer.module.scss';

.Main{
    min-height: 470px;
    margin-top: $HeaderHeigth;
    // padding-top: 3px;
    padding-bottom: $FooterHeigth;    
}

// calc(100% - ($FooterHeigth - $HeaderHeigth))
