$HeaderHeigth: 125px;

.Header{    
    height: $HeaderHeigth;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../Assets/Images/Header-bckg.jpg);
    background-size: cover;
    border-bottom: 5px solid white;
    z-index: 50;
}